<a>
    <button [routerLink]="['/boards']" routerLinkActive="router-link-active" type="button" mat-flat-button
        color="secondary">Voltar para os quadros</button>
</a>

<h1>{{ board()?.nome }}</h1>

<!-- Listas deve vir dos swimlanes para o board-->
<div 
cdkDropListGroup
cdkDropList 
cdkDropListOrientation="horizontal" 
(cdkDropListDropped)="aoMudarSwimlane($event)" 
class="swimlanes-wrapper"
>
    @for(swimlane of board()?.swimlanes; track swimlane){
    <div class="swimlane" cdkDrag>
        <div class="swimlane-header" cdkDragHandle>
            <h2>{{swimlane.nome}}</h2>
            <button (click)="deleteSwimlane(swimlane)" mat-button>Deletar</button>
        </div>
        <div class="swimlane-inner">
            <div>
                <div 
                 cdkDropList
                 cdkDropListOrientation="vertical" 
                 [cdkDropListData]="swimlane.cards"
                 (cdkDropListDropped)="aoMudarCard($event, swimlane)" 
                >
                 @for(card of swimlane.cards; track card){
                 <div class="swimlane__card" cdkDrag> {{ card.nome }}</div>
                 }
                 <button (click)="adicionarCard(swimlane)" mat-button>Adicionar Card</button>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="swimlane">
        <h2>Nova Seção</h2>
        <div class="swimlane-inner">
            <form [formGroup]="swimlaneForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome do Card</mat-label>
                    <input matInput formControlName="nome" placeholder="Ex. Meu Card" />
                    @if (!swimlaneForm.controls.nome.hasError('required')) {
                    <mat-error>Nome não é válido</mat-error>
                    }
                </mat-form-field><br />
            </form>
            <button (click)="addSwimlane()" mat-flat-button color="primary">Adicionar Seção</button>
        </div>
    </div>
</div>